.foo{
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-weight: 900;
}


.foo_1{
  width: 100px;
  height: 100px;
  background: red;
  margin-top: 100px;
  padding-left: 120px;
}